@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Cardápio</h1>
        <p>
            Bem vindo a Canteen! <br />
            Este é a nossa relação de produtos e Comidas:
        </p>
    </div>
    
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="~/Images/salgados-fritos.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Salgados fritos</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Veja Mais!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="~/Images/Salgados-Assados.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">Salgados assados</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Veja Mais!</a>
                </div>
            </div>
        </div><div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="~/Images/refri.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Refrigerantes</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Veja Mais!</a>
                </div>
            </div>
        </div><div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="~/Images/lanche.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Lanches frios e quentes</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Veja Mais!</a>
                </div>
            </div>
        </div>
    </div>
